name: GRMS CI aarch64

on:
  push:
    branches: 
      - master
  workflow_dispatch:

permissions:
  contents: write

jobs:
  linux-build:
    name: Aarch64 Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Build (Aarch64)
        if: runner.os == 'Linux'
        run: |
          # Установка зависимостей для сборки (обновленная версия)
          sudo apt-get update
          sudo apt-get install -y build-essential pkg-config libc6-dev m4 g++-multilib autoconf libtool ncurses-dev unzip git python3 python3-zmq zlib1g-dev wget libcurl4-gnutls-dev bsdmainutils automake curl
          
          # Установка кросс-компилятора для ARM64
          sudo apt-get install -y g++-aarch64-linux-gnu
          
          # Создаем симлинк python -> python3 для совместимости
          sudo ln -sf /usr/bin/python3 /usr/bin/python
          
          # Кросс-компиляция для AArch64
          HOST=aarch64-linux-gnu ./zcutil/build.sh -j$(nproc) STATIC_LIBCURL=1
          
          # Создание архива с бинарниками
          zip --junk-paths grms-cli-aarch64 src/grmsd src/grms-cli
          
      - name: Upload grms-cli-aarch64.zip as artifact
        uses: actions/upload-artifact@v4
        with:
          name: grms-cli-aarch64
          path: ./grms-cli-aarch64.zip
