name: GRMS CI arm32

on:
  push:
    branches: 
      - master
  workflow_dispatch:

permissions:
  contents: write

jobs:
  linux-build:
    name: ARM32 Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Build (ARM32)
        if: runner.os == 'Linux'
        run: |
          # Установка зависимостей для сборки
          sudo apt-get update
          sudo apt-get install -y build-essential pkg-config libc6-dev m4 g++-multilib autoconf libtool ncurses-dev unzip git python3 python3-zmq zlib1g-dev wget libcurl4-gnutls-dev bsdmainutils automake curl
          
          # Установка кросс-компилятора для ARM32
          sudo apt-get install -y g++-arm-linux-gnueabihf
          
          # Создаем симлинк python -> python3 для совместимости
          sudo ln -sf /usr/bin/python3 /usr/bin/python
          
          # Кросс-компиляция для ARM32
          HOST=arm-linux-gnueabihf ./zcutil/build.sh -j$(nproc)
          
          # Создание архива с бинарниками
          zip --junk-paths grms-cli-arm32 src/grmsd src/grms-cli
          
      - name: Upload grms-cli-arm32.zip as artifact
        uses: actions/upload-artifact@v4
        with:
          name: grms-cli-arm32
          path: ./grms-cli-arm32.zip
