name: GRMS CI aarch64

on:
  push:
    branches: 
      - master
  workflow_dispatch:

permissions:
  contents: write

jobs:
  linux-build:
    name: Aarch64 Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Build (Aarch64)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get install build-essential pkg-config libc6-dev m4 g++-multilib autoconf libtool ncurses-dev unzip git python python-zmq zlib1g-dev wget libcurl4-gnutls-dev bsdmainutils automake curl
          sudo apt-get install g++-aarch64-linux-gnu
          HOST=aarch64-linux-gnu ./zcutil/build.sh  -j$(nproc) STATIC_LIBCURL=1
          zip --junk-paths grms-cli-aarch64 src/grmsd src/grms-cli
      - name: Upload grms-cli-aarch64.zip as artifact
        uses: actions/upload-artifact@v4
        with:
          name: grms-cli-aarch64
          path: ./grms-cli-aarch64.zip
