name: GRMS CI aarch64

on:
  push:
    branches: 
      - master
  workflow_dispatch:

permissions:
  contents: write

jobs:
  linux-build:
    name: Aarch64 Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Build (Aarch64)
        if: runner.os == 'Linux'
        run: |
          # Установка зависимостей для сборки
          sudo apt-get update
          sudo apt-get install -y build-essential pkg-config libc6-dev m4 g++-multilib autoconf libtool ncurses-dev unzip git python3 python3-zmq zlib1g-dev wget libcurl4-gnutls-dev bsdmainutils automake curl
          
          # Установка кросс-компилятора для ARM64 и библиотек
          sudo apt-get install -y g++-aarch64-linux-gnu libzstd-dev
          
          # Создаем симлинк python -> python3 для совместимости
          sudo ln -sf /usr/bin/python3 /usr/bin/python
          
          # Сборка зависимостей с явным указанием на необходимость zstd
          cd depends
          make HOST=aarch64-linux-gnu NO_QT=1 NO_UPNP=1 NO_NATPMP=1 NO_WALLET=1 NO_BDB=1 NO_SQLITE=1
          cd ..
          
          # Конфигурация с явным указанием путей
          ./autogen.sh
          ./configure --prefix=`pwd`/depends/aarch64-linux-gnu --enable-reduce-exports --with-gui=no
          
          # Сборка
          make -j$(nproc)
          
          # Создание архива с бинарниками
          zip --junk-paths grms-cli-aarch64 src/grmsd src/grms-cli
          
      - name: Upload grms-cli-aarch64.zip as artifact
        uses: actions/upload-artifact@v4
        with:
          name: grms-cli-aarch64
          path: ./grms-cli-aarch64.zip
