name: Komodo MacOS CI

on:
  push:
    branches: 
      - master
  workflow_dispatch:

permissions:
  contents: write

jobs:

  macos-build:
    name: MacOS Build
    runs-on: macos-latest
    
    steps:
      - uses: actions/checkout@v4

      # Workaround for https://github.com/actions/setup-python/issues/577
      - name: Clean up binaries and links (macOS)
        run: |
          rm -f /usr/local/bin/2to3-3.*
          rm -f /usr/local/bin/idle3.*
          rm -f /usr/local/bin/pydoc3.*
          rm -f /usr/local/bin/python3.*
          rm -f /usr/local/bin/2to3
          rm -f /usr/local/bin/idle3
          rm -f /usr/local/bin/pydoc3
          rm -f /usr/local/bin/python3
          rm -f /usr/local/bin/python3-config
      - name: Install deps (macOS)
        run: |
          brew update
          brew tap discoteq/discoteq; brew install flock
          brew install autoconf autogen automake
          brew install binutils
          brew install protobuf
          brew install coreutils
          brew install wget
          brew install python3
      # https://www.jessesquires.com/blog/2020/01/06/selecting-an-xcode-version-on-github-ci/
      # https://github.com/actions/runner-images/issues/2619 (bsdtar issues)
      # flag for some CC tests transactions - so DO NOT USE THIS CI ARTIFACTS IN PRODUCTION!!!
      - name: Build (macOS)
        run: |
          chmod +x ./zcutil/build-mac-cross.sh
          ./zcutil/build-mac-cross.sh -j4
          gtar -czvf grms-macos.tar.gz src/grmsd src/grms-cli src/wallet-utility src/grms-tx
        # env:
        #   DEVELOPER_DIR: /Applications/Xcode_13.2.1.app/Contents/Developer

      - name: Upload grms-macos.tar.gz as artifact
        uses: actions/upload-artifact@v4
        with:
          name: grms-macos
          path: |
            ./grms-macos.tar.gz
           
